.ctrl_btns {
    background-color: #4361b8;
    color: #c7d0eb;
    align-self: center;
    align-content: center;
}

.ctrl_btns:hover {
    color: #c7d0eb;
    background-color: #002db3;
}

.drop_down {
    height: 32px;
    border-radius: 2px;
}

#mapid {
    height: 450px;
	width: 90%;
	margin: 0 auto;
}

.text {
    color: white;
}
