.crtl_btns {
    background-color: #4361b8;
    color: #c7d0eb;
    align-self: center;
    align-content: center;
}

.crtl_btns:hover {
    color: #c7d0eb;
    background-color: #002db3;
}

.drop_down {
    height: 32px;
    border-radius: 2px;
}

#mapid {
    height: 450px; 
    width: 100%;
    position: static;
}